<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car For Rent</title>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="./../assets/libs/calendar.css" rel="stylesheet" />
    <script type="text/javascript" src="./../assets/libs/calendar.js"></script>
    <link href="./../style/detail.css" rel="stylesheet" />
</head>

<body>
    <div class="modal-container">
        <div class="right-side">
            <div class="image-container">
                <a href="./../index.html"><img src="./../assets/car.png" alt="car" /></a>
                <div class="image-cover">
                    <div class="chip-container">
                        <object data="./../assets/icon/confirm.svg"></object>
                        <div class="chip-text">
                            <p>Xe có bảo hiểm</p>
                        </div>
                    </div>
                    <div class="dot-container">
                        <span class="dot"></span>
                        <span class="dot active"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>
                </div>
            </div>
            <div class="info-container">
                <div class="info-container-row">
                    <p class="info-title">
                        Đặc điểm
                    </p>
                    <div class="info-detail">
                        <div class="info-detail-item">
                            <object data="./../assets/icon/car-seat.svg"></object>
                            <p class="info-detail-title">
                                Số ghế :
                            </p>
                            <p class="info-detail-content">
                                5
                            </p>
                        </div>
                        <div class="info-detail-item">
                            <object data="./../assets/icon/transmission.svg"></object>
                            <p class="info-detail-title">
                                Truyền động :
                            </p>
                            <p class="info-detail-content">
                                Số tự động
                            </p>
                        </div>
                        <div class="info-detail-item">
                            <object data="./../assets/icon/fuel.svg"></object>
                            <p class="info-detail-title">
                                Nhiên liệu :
                            </p>
                            <p class="info-detail-content">
                                Xăng
                            </p>
                        </div>
                        <div class="info-detail-item">
                            <object data="./../assets/icon/consumption.svg"></object>
                            <p class="info-detail-title">
                                Mức tiêu thụ :
                            </p>
                            <p class="info-detail-content">
                                8,7L/100km
                            </p>
                        </div>
                    </div>
                </div>
                <div class="info-container-row">
                    <p class="info-title">
                        Mô tả
                    </p>
                    <div class="info-detail">
                        <p class="info-detail-content">
                            Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc trình bày và dàn trang
                            phục vụ cho in ấn.
                        </p>
                    </div>
                </div>
                <div class="info-container-row">
                    <p class="info-title">
                        Trang bị
                    </p>
                    <div class="info-detail">
                        <div class="info-detail-item">
                            <object data="./../assets/icon/bluetooth.svg"></object>
                            <p class="info-detail-title">
                                Bluetooth
                            </p>
                        </div>
                        <div class="info-detail-item">
                            <object data="./../assets/icon/tire.svg"></object>
                            <p class="info-detail-title">
                                Lốp dự phòng
                            </p>
                        </div>
                        <div class="info-detail-item">
                            <object data="./../assets/icon/sonar.svg"></object>
                            <p class="info-detail-title">
                                Cảm biến lùi
                            </p>
                        </div>
                        <div class="info-detail-item">
                            <object data="./../assets/icon/sensor.svg"></object>
                            <p class="info-detail-title">
                                Cảnh báo tốc độ
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-container">
                <div class="info-container-row">
                    <p class="info-title">
                        Giấy tờ thuê xe (Bản gốc)
                    </p>
                    <div class="info-detail">
                        <div class="info-detail-item">
                            <object data="./../assets/icon/id.svg"></object>
                            <p class="info-detail-title">
                                CMND/CCCD
                            </p>
                            <p class="info-detail-content">
                                (Đối chiếu)
                            </p>
                        </div>
                        <div class="info-detail-item">
                            <object data="./../assets/icon/passport.svg"></object>
                            <p class="info-detail-title">
                                Passport
                            </p>
                            <p class="info-detail-content">
                                (Giữ lại)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="info-container-row">
                    <p class="info-title">
                        Tài sản thế chấp
                    </p>
                    <div class="info-detail">
                        <p class="info-detail-content">
                            Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc trình bày và dàn trang
                            phục vụ cho in ấn.
                        </p>
                    </div>
                </div>
                <div class="info-container-row">
                    <p class="info-title">
                        Điều khoản
                    </p>
                    <div class="info-detail">
                        <p class="info-detail-content">
                            Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc trình bày và dàn trang
                            phục vụ cho in ấn. Lorem Ipsum đã được sử dụng như một văn bản chuẩn cho ngành công nghiệp
                            in ấn từ những năm 1500, khi một họa sĩ vô danh ghép nhiều đoạn văn bản với nhau để tạo
                            thành một bản mẫu văn bản.
                        </p>
                    </div>
                </div>
            </div>
            <div class="info-container">
                <div class="info-container-row">
                    <object class="info-container-avatar"
                        data="https://ui-avatars.com/api/?name=Toan&length=1&background=FFBD59&color=fff&rounded=true&format=svg&bold=true&font-size=0.5rem&size=100"></object>
                    <div class="info-detail">
                        <p class="info-detail-content title-name">
                            Van Toan
                        </p>
                        <p class="info-detail-content title-role">
                            Chủ xe
                        </p>
                        <div class="info-detail-item">
                            <p class="info-title">
                                Tỉ lệ phản hồi
                            </p>
                            <p class="info-detail-title fit-width">
                                100%
                            </p>
                        </div>
                        <div class="info-detail-item">
                            <p class="info-title">
                                Số chuyến đã nhận
                            </p>
                            <p class="info-detail-title fit-width">
                                5
                            </p>
                        </div>
                        <div class="info-detail-item">
                            <p class="info-title">
                                Thời gian phản hồi
                            </p>
                            <p class="info-detail-title fit-width">
                                0,2 tiếng
                            </p>
                        </div>
                        <div class="info-detail-item">
                            <p class="info-title">
                                Tỉ lệ đồng ý
                            </p>
                            <p class="info-detail-title fit-width">
                                100%
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-container">
                <div class="info-container-row">
                    <p class="info-title">
                        Vị trí chủ xe
                    </p>
                    <div class="info-detail"></div>
                </div>
                <div class="info-container-row image-container">
                    <img src="./../assets/map.png" />
                </div>
                <div class="info-container-row">
                    <p class="info-title location">
                        TP Thủ Đức, TP Hồ Chí Minh
                    </p>
                    <div class="info-detail"></div>
                </div>
            </div>
            <div class="info-container">
                <div class="info-container-row comment-item">
                    <p class="info-title">
                        Đánh giá ── 1
                    </p>
                    <div class="info-detail"></div>
                </div>
                <div class="info-container-row comment-item">
                    <object class="info-container-avatar comment"
                        data="https://ui-avatars.com/api/?name=Linh&length=1&background=FFBD59&color=fff&rounded=true&format=svg&bold=true&font-size=0.5rem&size=100"></object>
                    <div class="info-detail">
                        <p class="info-detail-content title-name comment-name">
                            Dang Linh ── 5 <object data="./../assets/icon/star.svg"></object>
                        </p>
                        <p class="info-detail-content">
                            Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc trình bày và dàn trang
                            phục vụ cho in ấn.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="left-side">
            <div class="billing">
                <div class="price-container">
                    <p class="price">1400K</p>
                    <p class="unit">/ngày</p>
                </div>
                <div class="info-container">
                    <p class="info-title">
                        Thời gian thuê
                    </p>
                    <div class="info-detail">
                    </div>
                    <div class="calendar-wrap">
                        <h2 class="month-year"><b>Tháng 2 năm 2023</b></h2>
                        <div class="table-container">
                            <table class="calendar">
                                <thead>
                                    <tr>
                                        <th class="day-title" scope="col">CN</th>
                                        <th class="day-title" scope="col">T2</th>
                                        <th class="day-title" scope="col">T3</th>
                                        <th class="day-title" scope="col">T4</th>
                                        <th class="day-title" scope="col">T5</th>
                                        <th class="day-title" scope="col">T6</th>
                                        <th class="day-title" scope="col">T7</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="week">
                                        <td class="day prev-mon" tabindex="0"><span class="day-number">29</span></td>
                                        <td class="day prev-mon" tabindex="0"><span class="day-number">30</span></td>
                                        <td class="day prev-mon" tabindex="0"><span class="day-number">31</span></td>
                                        <td class="day" tabindex="0"><span class="day-number">1</span></td>
                                        <td class="day today" tabindex="0"><span class="day-number">2</span></td>
                                        <td class="day" tabindex="0"><span class="day-number">3</span></td>
                                        <td class="day" tabindex="0"><span class="day-number">4</span></td>
                                    </tr>
                                    <tr class="week">
                                        <td class="day" tabindex="0"><span class="day-number">5</span></td>
                                        <td class="day" tabindex="0"><span class="day-number">6</span></td>
                                        <td class="day" tabindex="0"><span class="day-number">7</span></td>
                                        <td class="day" tabindex="0"><span class="day-number">8</span></td>
                                        <td class="day" tabindex="0"><span class="day-number">9</span></td>
                                        <td class="day" tabindex="0"><span class="day-number">10</span></td>
                                        <td class="day" tabindex="0"><span class="day-number">11</span></td>
                                    </tr>
                                    <tr class="week">
                                        <td class="day" tabindex="0"><span class="day-number">12</span></td>
                                        <td class="day" tabindex="0"><span class="day-number">13</span></td>
                                        <td class="day" tabindex="0"><span class="day-number">14</span></td>
                                        <td class="day" tabindex="0"><span class="day-number">15</span></td>
                                        <td class="day" tabindex="0"><span class="day-number">16</span></td>
                                        <td class="day" tabindex="0"><span class="day-number">17</span></td>
                                        <td class="day" tabindex="0"><span class="day-number">18</span></td>
                                    </tr>
                                    <tr class="week">
                                        <td class="day" tabindex="0"><span class="day-number">19</span></td>
                                        <td class="day" tabindex="0"><span class="day-number">20</span></td>
                                        <td class="day" tabindex="0"><span class="day-number">21</span></td>
                                        <td class="day" tabindex="0"><span class="day-number">22</span></td>
                                        <td class="day" tabindex="0"><span class="day-number">23</span></td>
                                        <td class="day" tabindex="0"><span class="day-number">24</span></td>
                                        <td class="day" tabindex="0"><span class="day-number">25</span></td>
                                    </tr>
                                    <tr class="week">
                                        <td class="day" tabindex="0"><span class="day-number">26</span></td>
                                        <td class="day" tabindex="0"><span class="day-number">27</span></td>
                                        <td class="day" tabindex="0"><span class="day-number">28</span></td>
                                        <td class="day" tabindex="0"><span class="day-number">29</span></td>
                                        <td class="day" tabindex="0"><span class="day-number">30</span></td>
                                        <td class="day" tabindex="0"><span class="day-number">31</span></td>
                                        <td class="day next-mon" tabindex="0"><span class="day-number">1</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="info-container">
                    <p class="info-title">
                        Địa chỉ nhận xe
                    </p>
                    <div class="info-detail">
                    </div>
                    <div class="info-input-select">
                        <select class="info-input-select-content" name="address" id="address">
                            <option value="1">FPT Campus (FPT software), Khu công nghệ Cao, phường Tăng Nhơn Phú A, Thành phố Thủ Đức, TP Hồ Chí Minh>
                            <option value="2">Địa chỉ 2</option>
                            <option value="3">Địa chỉ 3</option>
                        </select>
                    </div>
                </div>
                <div class="info-container">
                    <p class="info-title">
                        Phụ phí
                    </p>
                    <div class="info-detail">
                    </div>
                    <div class="info-card-container">
                        <div class="info-card">
                            <div class="info-card-title-container">
                                <p class="info-card-title">Giới hạn quãng đường</p>
                                <p class="info-card-detail">100km/ngày</p>
                            </div>
                            <div class="info-card-content-container">
                                <p class="info-card-content">Phí: <b>3.000đ/km</b> vượt giới hạn</p>
                            </div>
                        </div>
                        <div class="info-card">
                            <div class="info-card-title-container">
                                <p class="info-card-title">Quá giờ</p>
                                <p class="info-card-detail"></p>
                            </div>
                            <div class="info-card-content-container">
                                <p class="info-card-content">Phí: <b>70.000đ/giờ</b> vượt giới hạn</p>
                            </div>
                        </div>
                        <div class="info-card">
                            <div class="info-card-title-container">
                                <p class="info-card-title">Vệ sinh ngoài xe</p>
                                <p class="info-card-detail"></p>
                            </div>
                            <div class="info-card-content-container">
                                <p class="info-card-content">Phí: <b>100.000đ</b> (nếu bên ngoài xe bị bẩn)</p>
                            </div>
                        </div>
                        <div class="info-card">
                            <div class="info-card-title-container">
                                <p class="info-card-title">Vệ sinh trong xe</p>
                                <p class="info-card-detail"></p>
                            </div>
                            <div class="info-card-content-container">
                                <p class="info-card-content">Phí: <b>400.000đ</b> (nếu bên trong xe bị bẩn)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-container">
                    <p class="info-title">
                        Bảo hiểm
                    </p>
                    <div class="info-detail">
                    </div>
                    <p class="info-detail-content">
                        <object data="./../assets/icon/confirm-2.svg"></object>
                        Xe có bảo hiểm
                    </p>
                </div>
                <div class="info-container">
                    <p class="info-title">
                        Chi tiết giá
                    </p>
                    <div class="info-detail">
                    </div>
                    <div class="info-card-title-container">
                        <p class="info-card-title bill">Đơn giá thuê</p>
                        <p class="info-card-detail bill">850.000/ngày</p>
                    </div>
                    <div class="info-card-title-container">
                        <p class="info-card-title bill">Phí dịch vụ</p>
                        <p class="info-card-detail bill">119.000/ngày</p>
                    </div>
                    <div class="info-card-title-container blank"></div>
                    <div class="info-card-title-container">
                        <p class="info-card-title bill">Tổng phí thuê xe</p>
                        <p class="info-card-detail bill">969.000 x <b>1 ngày</b></p>
                    </div>
                    <div class="info-card-title-container">
                        <p class="info-card-title bill">Phí giao nhận xe</p>
                        <p class="info-card-detail bill">6.000 x <b>838km</b></p>
                    </div>
                    <div class="info-card-title-container blank"></div>
                    <div class="info-card-title-container">
                        <p class="info-card-title bill"><b>Tổng cộng</b></p>
                        <p class="info-card-detail bill"><b>975.000</b></p>
                    </div>
                </div>
                <div class="info-container">
                    <a class="start-billing" href="./booking.html">ĐẶT XE</a>
                </div>
            </div>
            <div class="view-more">
                <div class="info-container title">
                    <p class="info-title">
                        Xem xe khác
                    </p>
                    <div class="info-detail">
                    </div>
                </div>
                <div class="info-container">
                    <div class="info-container-image">
                        <img src="./../assets/car2.png" class="info-image"/>
                    </div>
                    <div class="info-container-content">
                        <p class="info-content-title">
                            <b>HYUNDAI TUCSON 2021</b>
                        </p>
                        <p class="info-content-title">
                            <b>5</b> <object data="./../assets/icon/star.svg"></object> ● 2 chuyến
                        </p>
                        <div class="info-container-tags">
                            <div class="tag">
                                Số tự động
                            </div>
                            <div class="tag">
                                Giao xe tận nơi
                            </div>
                        </div>
                        <p class="info-content-title">
                            <b>Địa chỉ : </b> <span>TP Thủ Đức, TP Hồ Chí Minh</span>
                        </p>
                    </div>
                </div>
                <div class="info-container">
                    <div class="info-container-image">
                        <img src="../../assets/car3.png" class="info-image"/>
                    </div>
                    <div class="info-container-content">
                        <p class="info-content-title">
                            <b>KIA SELTOS LUXURY 2020</b>
                        </p>
                        <p class="info-content-title">
                            <b>4,4</b> <object data="./../assets/icon/star.svg"></object> ● 4 chuyến
                        </p>
                        <div class="info-container-tags">
                            <div class="tag">
                                Số tự động
                            </div>
                            <div class="tag">
                                Giao xe tận nơi
                            </div>
                        </div>
                        <p class="info-content-title">
                            <b>Địa chỉ : </b> <span>Tp Thủ Đức, TP Hồ Chí Minh</span>
                        </p>
                    </div>
                </div>                
            </div>
        </div>
        <div class="close-btn">
            <object 
                data="./../assets/icon/close.svg"
            ></object>
        </div>
    </div>
</body>

</html>