<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car For Rent</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./../style/list.css">
</head>

<body>
    <div class="header">
        <a href="./../index.html"><img src="./../assets/list/rent.jpg" alt="car"></a>
        <div class="header-right">
            <form>
                <input type="tel" placeholder="Số điện thoại đăng nhập">
                <input type="text" placeholder="Search..">
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    </div>
    <div class="modal-container">
        <div class="right-side">
            <div class="cars-container">
                <div class="car">
                    <img src="./../assets/list/hinh1.jpg" alt="car1">
                    <h1>Peugoet 3008 2021</h1>
                    <p>Thông tin xe:</p>
                    <ul>
                        <li>Tên xe: PEUGOET 3008 2021</li>
                        <li>Chỗ ngồi: 5</li>
                        <li>Truyền động: Số tự động</li>
                        <li>Giá: 850.000/ngày</li>
                    </ul>
                    <form>
                        <a class="btn-select" href="./detail.html" >Chọn</a>
                    </form>
                </div>
                <div class="car">
                    <img src="./../assets/list/Toyota.jpeg" alt="car2">
                    <h1>Toyota Cross</h1>
                    <p>Thông tin xe:</p>
                    <ul>
                        <li>Tên xe: Toyota Cross</li>
                        <li>Chỗ ngồi: 5</li>
                        <li>Truyền động: Số tự động</li>
                        <li>Giá: 1.000.000/ngày</li>
                    </ul>
                    <form>
                        <a class="btn-select" href="./detail.html" >Chọn</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="left-bar">
            <div class="info-container">
                <p class="info-title">Địa chỉ nhận xe</p>
                <div class="info-detai">
                    <div class="info-input-select"></div>
                    <select class="info-input-select-content" name="address" id="address">
                        <option value="1">FPT Campus (FPT software), Khu công nghệ Cao, phường Tăng Nhơn Phú A, Thành
                            phố Thủ Đức, TP Hồ Chí Minh</option>
                    </select>
                    <br>
                    <form action="" method="get">
                        <label for="">Ngày bắt đầu thuê xe</label>
                        <input type="date">
                        <br>
                        <label for="">Ngày kết thúc thuê xe</label>
                        <input type="date">
                    </form>
                    <div class="info-container">
                        <p class="info-title">Loại xe</p>
                        <div class="info-detai">
                            <div class="info-input-select"></div>
                            <select class="info-input-select-content" name="loại xe" id="cho ngoi">
                                <option value="1">5 chỗ</option>
                            </select>
                            <p class="info-title">Hãng xe</p>
                            <div class="info-detai">
                                <div class="info-input-select"></div>
                                <select class="info-input-select-content" name="loại xe" id="cho ngoi">
                                    <option value="1">Peugote</option>
                                    <option value="2">KIA</option>
                                    <option value="1">Toyota</option>
                                </select>
                                <p class="info-title">Truyền động</p>
                                <div class="info-detai">
                                    <div class="info-input-select"></div>
                                    <select class="info-input-select-content" name="loại xe" id="cho ngoi">
                                        <option value="1">Số tự động</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
</body>
</html>